<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/profilesFeed.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
    <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<!-----------------include the header----------------------->
<%- include('header.ejs')%>
    <!---------------------------------------------------------->

    <body>
        <h1>Here are all the profiles created on Sound 56...</h1><br>
        <% for(var i=0; i < users.length ; i++) { %>
            <p>Here is <strong><%= users[i].firstname %> <%= users[i].lastname %></strong>'s profile, aka <strong><%= users[i].nickname%></strong>.</p>
            <p>He/She is from <strong><%= users[i].country %></strong>.</p>
            <p>His/Her favorite musical genre is <strong><%= users[i].musical_genre %></strong>.</p>
            <p>He/She plays <strong><%= users[i].instrument %></strong>.</p>
            <p>Here is his/her musical productions:</p>
            <% for(var j=0; j < songs.length; j++) { %>
                <% if (songs[j].user_id === users[i].id) { %>
                <p><%= songs[j].title%> - <%= songs[j].musical_genre%> - <%= songs[j].duration%> seconds.</p>
                <audio controls = "controls"></audio>
        <% } %>
<% } %> 
                
            <p>----------------------</p>
        <% } %>

    </body>


    <!-----------------include the header----------------------->
    <%- include('footer.ejs')%>
    <!---------------------------------------------------------->

</html>