<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/public/css/profile.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico">
        <script src="https://kit.fontawesome.com/2c8fdca004.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    
    <!-----------------include the header----------------------->
    <%- include('header.ejs')%>
    <!---------------------------------------------------------->


<body>
    <h1>Your profile</h1> 
    <p>Your nickname/pseudo is <strong><%= user.nickname %></strong>.</p>
    <p>You are from <strong><%= user.country%></strong>.</p>
    <p>You favorite instrument is <strong><%= user.instrument%></strong>.</p>
    <p>You favorite musical genre is <strong><%= user.musical_genre%></strong>.</p><br>
    <h2>Here is your musical compositions</h2>
    <% for(var i=0; i < songs.length ; i++) { %>
    <p><%= songs[i].title%> - <%= songs[i].musical_genre%> - <%= songs[i].duration%> seconds. </p>
    <audio controls = "controls"></audio>
    <% } %>   
    <h2>Add more musical compositions below</h2>
<form action="/addSong" method="POST">
        <input type="text" name="title" placeholder="Title "/>
        <input type="text" name="musical_genre" placeholder="The genre of the music"/>
        <input type="text" name="duration" placeholder="Duration in seconds"/>
        <input type="submit" value="Add song"/>
        <input type="hidden" value="<%= user.id %>" name="user_id"/>
    </form><br><br>

    <button onclick="if(confirm('Are you sure you want to delete your profile, and all the musical productions associated to it?')) location.href = 'profilesController/deleteProfile/<%= user.id %>';" name="deleteProfile" class="button">Delete your account</button><br><br>

</body>

    <!-----------------include the footer----------------------->
    <%- include('footer.ejs')%>
    <!---------------------------------------------------------->

</html>